<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :title %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control", placeholder: "Type your title", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %><br>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, class: "form-control col-sm-10", rows: 6, placeholder: "Type your blog post" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
            <%= f.submit class: "btn btn-default" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="col-sm-4 col-sm-offset-5">
  <%= link_to "Cancel", articles_path %>
</div>