<div class="panel panel-default">
  <div class="panel-heading">
    <h4 align="center"> <% if @article.user %><%= gravatar_for @article.user, size: 22 %> &ensp; <%= link_to @article.user.username, user_path(@article.user) %>  &emsp; &#124; &emsp; <% end %><%= @article.title %></h4>
  </div>
  <div class="panel-body">
    <%= simple_format(@article.description) %>
  </div>
</div>
<div class="article-actions center">
  <% if logged_in? && @article.user == current_user %>
  <%= link_to "Edit topic", edit_article_path, class: 'btn btn-s btn-primary' %>
  <%= link_to "Delete topic", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this topic?"}, class: "btn btn-s btn-danger"%>
  <% end %>
  <%= link_to "Back", articles_path, class: 'btn btn-s btn-success' %>
</div>